.password-copier {
  background-color: var(--dark-grey);
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.password-copier input[type="text"] {
  background-color: transparent;
  border: 0;
  width: calc(100% - 22px);
  font-family: inherit;
  font-size: var(--large);
  padding: 0;
  color: inherit;
}

.password-copier button[type="button"] {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .password-copier {
    padding: 20px;
    margin-bottom: 20px;
  }
}
