div.app h1 {
  font-size: var(--medium);
  color: var(--grey);
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 570px) {
  div.app h1 {
    margin-bottom: 20px;
  }
}