@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&display=swap');

:root {
  font-family: 'JetBrains Mono', monospace;
  font-size: 18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading-l {
  font-size: 1.77rem;
}

.heading-m {
  font-size: 1.33rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 540px;
  min-height: 100vh;
}
