@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&display=swap');

:root {
  font-family: 'JetBrains Mono', monospace;
  font-size: 18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --grey: #817D92;
  --dark-grey: #24232C;
  --almost-white: #E6E5EA;
  --very-dark-grey: #18171F;
  --neon-green: #A4FFAF;
  --red: #F64A4A;
  --orange: #FB7C58;
  --yellow: #F8CD65;
  --large: 1.77rem;
  --medium: 1.33rem;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100%;
  color: var(--almost-white);
  background-color: var(--very-dark-grey);
}

div#root {
  width: 100%;
  max-width: 540px;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
    --large: 1.6rem;
    --medium: 1.2rem;
  }
}
